body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maincontent{
  width: calc(100% - 280px);
  height: 200px;
  position: relative;
  top: 0;
  left: 280px;
  transition: 0.7s ease;
  
}

.maincontent.expand{
  width: calc(100% - 60px);
  
  left: 60px;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .maincontent{
    width: 100%;
    left: 0px;
 }

 .maincontent.expand{
  width: 100%;
  
  left: 0;
}
}

